.button {
    width: 65px;
    height: 21px;
    font-weight: 600;
    font-size: 17px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
  
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  